@page "/project/{projectId:int}/add-expense"
@using AppLidra.Shared.Models

<EditForm Model="newExpense" OnValidSubmit="HandleAddExpense">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Description</label>
        <InputText @bind-Value="newExpense.Description" />
    </div>

    <div>
        <label>Montant</label>
        <InputNumber @bind-Value="newExpense.Amount" />
    </div>

    <button type="submit">Ajouter</button>
</EditForm>

@code {
    [Parameter] public int projectId { get; set; }
    private Expense newExpense = new Expense();

    private async Task HandleAddExpense()
    {
        // call api to add expense
        throw new NotImplementedException();
    }
}
