@page "/project/{projectId:int}/expenses"
@using AppLidra.Shared.Models

<h3>Liste des Dépenses</h3>

<ul>
    @foreach (var expense in expenses)
    {
        <li>@expense.Description : @expense.Amount €</li>
    }
</ul>

@code {
    [Parameter] public int projectId { get; set; }
    private List<Expense> expenses = new List<Expense>();

    protected override async Task OnInitializedAsync()
    {
        // call api to load expenses
        throw new NotImplementedException();
    }
}
