@page "/"
@using Microsoft.AspNetCore.Components

<h1>Welcome to AppLidra</h1>

<div>
    <button @onclick="NavigateToLogin">Login</button>
    <button @onclick="NavigateToSignin">Sign Up</button>
</div>

@code {
    [Inject] private NavigationManager Navigation { get; set; } = null!;

    private void NavigateToLogin()
    {
        Navigation.NavigateTo("/login");
    }

    private void NavigateToSignin()
    {
        Navigation.NavigateTo("/signin");
    }
}
