@page "/logout"
@using System.Net.Http.Json
@using AppLidra.Shared.Models
@using Blazored.LocalStorage
@inject HttpClient Http
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage

<h1>Logout</h1>
<p>Are you sure you want to log out?</p>
<button @onclick="LogoutUser">Yes, Logout</button>
<button @onclick="CancelLogout">Cancel</button>

@code {
    private async Task LogoutUser()
    {
        await LocalStorage.RemoveItemAsync("authToken");

        Navigation.NavigateTo("/login", forceLoad: true);
    }

    private void CancelLogout()
    {
        Navigation.NavigateTo("/projects");
    }
}